<!DOCTYPE html>
<html>
<head>
    <title>Get Child</title>
</head>
<body>
    <h1>Get Child</h1>

    <form action="/get_child" method="GET">

        <label for="child_name">Имя ребёнка:</label>
        <input type="text" id="child_name" name="child_name">

        <label for="child_age">Возвраст:</label>
        <input type="number" id="child_age" name="child_age">
        <label for="child_talent_area">Область одаренности:</label>
        <input type="text" id="child_talent_area" name="child_talent_area">
        <label for="child_contact_info">Контактная информация:</label>
        <input type="text" id="child_contact_info" name="child_contact_info">

        <button type="submit">Get Child</button>
    </form>
</body>
</html>