<!DOCTYPE html>
<html>
  <head>
    <title>Поиск детей</title>
  </head>
  <body>
    <h1>Поиск детей</h1>
    
    <form action="/search" method="post">
      <label for="full_name">ФИО:</label>
      <input type="text" id="full_name" name="full_name"><br><br>

      <label for="age">Возраст:</label>
      <input type="number" id="age" name="age"><br><br>

      <label for="talent_area">Область одаренности:</label>
      <input type="text" id="talent_area" name="talent_area"><br><br>

      <input type="submit" value="Искать">
    </form>
  </body>
</html>