header>.container {
    height: 200px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    justify-content: space-between;
}

.information {
    display: flex;
    align-items: flex-end;
    gap: 10px
}

.fullname {
    font-weight: bold;
    font-size: 2rem;
}

.full-information {
    position: relative;
}

.full-information-button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--primary);
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}

.full-information-window {
    position: absolute;
    bottom: 50%;
    left: 42px;
    width: max-content;
    background-color: bisque;
    padding: 12px;
    border-radius: 12px;
}

.h2 {
    font-weight: bold;
    font-size: 1.1rem;
}

.text {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.link {
    color: var(--primary);
    text-decoration: underline;
}

.button {
    border-radius: 5px;
    background-color: var(--primary);
    color: #fff;
    padding: 10px;
}

.display-none {
    display: none;
}

.main {
    background-color: var(--primary);
    height: calc(100% - 200px);
}