* {
    font-family: 'Rubik';
}

:root {
    --primary: #6B7CE8;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.text-input {
    border: 2px solid var(--primary);
    padding: 5px;
    border-radius: 5px;
}

.text-input:hover,
.text-input:active,
.text-input:focus {
    outline: 2px solid var(--primary);
    outline-offset: 2px
}