.main {
    height: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none
}

.window {
    width: 400px;
    background: #fff;
    padding: 30px 15px;
    border-radius: 15px;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.form {
    margin-top: 32px;
    text-align: end;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.link {
    color: var(--primary);
    text-decoration: underline;
}

.button {
    align-self: flex-end;
    color: #fff;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
}