body {
    background: url(/static/assets/main.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header,
.main,
.footer {
    padding: 0 40px;
}

.header {
    background: var(--primary);
    padding: 28px 40px;
    display: grid;
    grid-template: 1fr / 1fr auto;
    border-radius: 0 0 10px 10px;
}

.links {
    display: flex;
    gap: 12px;
}

.links-text {
    color: #fff;
    font-size: 1.2rem;
    padding: 8px;
}

.link {
    text-decoration: underline;
    color: #fff;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 12px;
}

.link:hover,
.link:focus {
    background-color: #2b3683;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    backdrop-filter: blur(10px);
    padding: 24px;
    border-radius: 12px;
}

.search-button {
    background-color: rgb(206, 99, 117);
    color: #fff;
    border-radius: 12px;
    padding: 8px;
    border: 3px solid pink;
}

.footer {
    padding: 28px 40px;
    text-align: right;
    background-color: rgb(205, 205, 205);
    border-radius: 10px 10px 0 0;
}