.main {
    height: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none
}

.window {
    width: 400px;
    background: #fff;
    padding: 30px 15px;
    border-radius: 15px;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.form {
    margin-top: 32px;
    text-align: end;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: left;
}

.inputs>div {
    line-height: 0.7;
}

.links {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.link {
    color: var(--primary);
    text-decoration: underline;
}

.button {
    align-self: flex-end;
    color: #fff;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
}

.button:disabled {
    opacity: 75%;
}

input {
    width: 100%;
}

.important {
    position: relative;
}

.important::before {
    content: "*";
    left: -10px;
    position: absolute;
    color: red;
}

.mark {
    color: red;
    font-size: 0.8rem;
}

.important:has(name="sciences") {
    position: relative;
}

.sciences-menu {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    transform: translateX(calc(400px)) translateY(-50%);
    padding: 32px 16px;
    border-radius: 16px;
    width: min-content;
}

.sciences-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.science {
    display: inline-flex;
    align-items: center;
    gap: 5px
}

.science [type="checkbox"] {
    height: 18px;
    width: 18px;
}

.error {
    color: red;
    font-size: 0.7rem;
}

.display-none {
    display: none;
}

.opacity-0 {
    opacity: 0;
}