<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/star.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/child.css') }}">
    <script src="{{ url_for('static', filename='js/child.js') }}" defer></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="information">
                <h1 class="fullname">{{ secondName }} {{ firstName }} {{ surname }}</h1>
                <div class="full-information">
                    <div class="full-information-button">i</div>
                    <div class="full-information-window">
                        <h2 class="h2">Обо мне</h2>
                        <p class="text">
                            <span>Возраст: {{ age }} лет</span>
                            <span>Области успеха: {{ sciences }}</span>
                            <span>Почта: {{ email }}</span>
                            <span>Номер телефона: {% if phoneNumber %}{{ phoneNumber }}{% else %}-{% endif %}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="links">
                <a href="/" class="link">Главная</a>
                {% if main %}
                <a href="/" class="button">Выйти</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <table class="table">
                <caption class="table">Мои достижения</caption>
                <thead class="table-head">
                    <tr>
                        <th>Область</th>
                        <th>Название</th>
                        <th>Место</th>
                        <th>Категория</th>
                    </tr>
                </thead>
                <tbody>
                    {% for achievement in achievements %}
                    <tr>
                        <td>{{ achievement.science }}</td>
                        <td>{{ achievement.title }}</td>
                        <td>{{ achievement.place }}</td>
                        <td>{{ achievement.category }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <div class="display-none" id="id">{{ id }}</div>
</body>

</html>