<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="assets/star.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/index.js" defer></script>
</head>

<body>
    <div class="container wrapper">
        <header class="header">
            <nav>
                <a href="/" class="link">Главная</a>
            </nav>
            <div class="links">
                <span class="links-text">Вы одарены?</span>
                <a href="/login" class="link">Войти</a>
                <a href="/register" class="link">Зарегистрироваться</a>
            </div>
        </header>
        
        <main class="main">
            <p class="text">
                В настоящее время, существует нехватка централизованной информации о одаренных детях, что затрудняет их вовлечение в различные проекты и программы. Создание такой базы данных позволит эффективно идентифицировать и привлекать талантливую молодежь для участия в проектах Движения Первых. <br>
                Эту проблему помогает решить наш сервис!
                <br>
                <br>
                <br>
                <a href="/search" class="search-button">Найти ребенка</a>
            </p>
        </main>

        <footer class="footer">
            <p>
                Проект создан не в коммерческих целях.
                <br>
                <br>
                Авторы:
            </p>
            <ul>
                <li>Джум Владислав Вадимович</li>
                <li>Черевко Александр Романович</li>
                <li>Кочкожаров Александр</li>
                <li>Устич Давид Викторович</li>
            </ul>
        </footer>
    </div>
</body>

</html>
