<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/star.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="container wrapper">
        <header class="header">
            <span class="links-text">Покажите себя этому миру!</span>
            <div class="links">
                {% if id %}
                <a href="/child?id={{ id }}">Личный кабинет</a>
                {% else %}
                <a href="/login" class="link">Войти</a>
                <a href="/register" class="link">Зарегистрироваться</a>
                {% endif %}
            </div>
        </header>
        
        <main class="main">
            <p class="text">
                В настоящее время, существует нехватка централизованной информации о одаренных детях, что затрудняет их вовлечение в различные проекты и программы. Создание такой базы данных позволит эффективно идентифицировать и привлекать талантливую молодежь для участия в проектах Движения Первых. <br>
                Эту проблему помогает решить наш сервис!
            </p>
            <a href="/search" class="search-button">Найти ребенка</a>
        </main>

        <footer class="footer">
            <div>
                <h6 class="h6">Авторы:</h6>
                <ul class="autors-list">
                    <li>Джум Владислав Вадимович&nbsp;</li>
                    <li>&nbsp;Черевко Александр Романович</li>
                    <li>Кочкожаров Александр&nbsp;</li>
                    <li>&nbsp;Устич Давид Викторович</li>
                </ul>
            </div>
            <p>
                Проект создан не в коммерческих целях.
            </p>
        </footer>
    </div>
</body>

</html>
